################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StarWars/.vs/StarWars/v17
/.vs
/StarWars/StarWars/bin/Debug/net6.0
/StarWars/StarWars/obj
/StarWars/StarWars/appsettings.Development.json
/StarWars/.vs/StarWars/DesignTimeBuild
/StarWars/StarWars/bin/Release/net6.0
/StarWars/StarWarsTests/bin
/StarWars/StarWarsTests/obj
/StarWars/StarWars/Properties/PublishProfiles
/StarWars/StarWars/Properties/ServiceDependencies/StarWarsDemo123 - Web Deploy
